@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:200px;">

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p><a class="btn btn-default" href="#">Content &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SMS Commands</h2>
        <p><a class="btn btn-default" href="#">Content &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p><a class="btn btn-default" href="#">Content &raquo;</a></p>
    </div>
</div>